#nav-scroll > li.active > a {
  background: rgba(0, 106, 254, 0.6);
}
#nav-scroll > li > a:hover {
  color: #006afe;
}
#header {
  background-color: rgba(0, 106, 254, 0.1);
}
h1.logo {
  color: #006afe;
}
.init-canvas {
  color: rgba(0, 106, 254, 0.6);
}
#about .about-info .fa-circle,
#services .services-info .fa-circle,
#contact-info .contact-details .fa-square {
  color: rgba(0, 106, 254, 0.6);
}
.twitterfeed li span a {
  background-color: rgba(0, 106, 254, 0.2);
}
.twitterfeed li span a:hover {
  background-color: rgba(0, 106, 254, 0.6);
}
#form_subscribe #btn_subscribe {
  background-color: #005fe5;
  border-color: #0055cb;
}
#form_subscribe #btn_subscribe:hover {
  background-color: #0055cb;
}
#form_contact_us #btn_send {
  background-color: #005fe5;
  border-color: #0055cb;
}
#form_contact_us #btn_send:hover {
  background-color: #0055cb;
}
#preloader {
  background-color: #006afe;
}
